@page "/authentication/sign-in"
@model ELifeRPG.Core.WebUI.Pages.Authentication.Signin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>